## Задание 1

Необходимо с помощью SQL запроса собрать одну общую таблицу из всех данных витрин, которая должна включать в себя все поля этих витрин.

### Загрузка данных и импорты

In [1]:
import pandas as pd
import warnings
# мне через psycopg2 привычнее подключаться чем через алхимию. 
# Алхимия чаще для djangi + sqlite,  а у мня в оснвном PostgeSQL
import psycopg2 
import csv
import time

warnings.filterwarnings('ignore')
import pandas_profiling
from pandas_profiling import ProfileReport

Загрузка данных

In [2]:
%%time
excel_file = pd.ExcelFile('Витрины.xlsx')

CPU times: total: 7.08 s
Wall time: 7.08 s

In [3]:
sheet_names = excel_file.sheet_names

загрузка листов

In [4]:
%%time
dfs = {}
for sheet_name in sheet_names:
    df = excel_file.parse(sheet_name)
    dfs[sheet_name] = df

CPU times: total: 49.1 s
Wall time: 49.1 s

In [6]:
# Вывод списка названий датафреймов
print(list(dfs.keys()))

['task', 'call', 'action', 'product', 'emp_x_org_gr', 'result', 'queue', 'group', 'mngmnt', 'horoscope']

In [7]:
# Делаем отдельные датафреймы из каждой записи ключ/занчение словаря
for key, value in dfs.items():
    globals()[key] = value

Проверяем, что получилось

In [8]:
task.head(3)

,task_rk,task_stage_id,source_system_cd,create_dttm,finish_dttm
0,15431250,18.0,FW,2022-08-25 09:05:53,NaN
1,93508186,1.0,GI,2022-08-01 05:09:01,2022-08-02 13:35:02
2,357853,1.0,GI,2022-08-08 22:05:30,2022-08-08 22:07:32

In [9]:
task.dtypes

task_rk               int64
task_stage_id       float64
source_system_cd     object
create_dttm          object
finish_dttm          object
dtype: object

In [10]:
call.head(3)

,wo_hit_rk,wo_task_rk,wo_queue_id,agent_login,wo_employee_rk,finish_dttm,duratoin_sec
0,73292106,93625442,12245,lyangama,66749466,2022-08-01 12:52:25,0.00
1,93763347,98572816,11696,enkoiion,88931008,2022-08-08 10:46:46,12.53
2,13988704,91292760,14354,kinalapo,61041016,2022-08-16 14:16:03,0.00

In [11]:
action.head(3)

     hit_rk  hit_status_result_id
0   3962005                     2
1  71755300                     5
2  38055819                     5

In [12]:
product.head(3)

     hit_rk  hid  using_flg
0  41296509    4        NaN
1  22805443    4        NaN
2  47418895    4        NaN

In [13]:
emp_x_org_gr.head(3)

   employee_rk  org_group_rk
0     77291037          3240
1     70909770          2108
2     73448373          3237

In [14]:
result.head(3)

   hit_status_result_id                  hit_status_result_desc
0                     8  Дозвон, Некорректное задание по звонку
1                     1                           Дозвон, Отказ
2                     6                        Дозвон, Отложить

In [15]:
queue.head(3)

   queue_id   queue_desc
0     12049   Очередь 86
1     13677   Очередь 57
2     13041  Очередь 146

In [16]:
group.head(3)

   org_group_rk  org_management_rk  group_nm
0          2351               1636  Группа 1
1          2814               1780  Группа 2
2          2531               1720  Группа 3

In [17]:
mngmnt.head(3)

   org_management_rk          management_nm
0                401    Управление КЦ Дирис
1                307     Управление КЦ Черс
2               1834  Управление КЦ Помидор

In [18]:
horoscope.head(3)

  agent_login horoscope
0    lyangama   Козерог
1    enkoiion   Козерог
2    kinalapo   Козерог

### Выгрузка / загрузка

Для создания требуемого запроса и его отработки я буду пользоваться PostgeSQL. Поэтотому все полученные таблицы я выгружаю в csv для последующего импорта в PostgeSQL. Можно, конечно на прямую загрузить датафреймы в таблицы, но не хочется возиться с типами данных.

In [19]:
task.to_csv('task.csv', index=False, sep='$', encoding='cp1251')
call.to_csv('call.csv', index=False, sep='$', encoding='cp1251')
action.to_csv('action.csv', index=False, sep='$', encoding='cp1251')
product.to_csv('product.csv', index=False, sep='$', encoding='cp1251')
emp_x_org_gr.to_csv('emp_x_org_gr.csv', index=False, sep='$', encoding='cp1251')
result.to_csv('result.csv', index=False, sep='$', encoding='cp1251')
queue.to_csv('queue.csv', index=False, sep='$', encoding='cp1251')
group.to_csv('group.csv', index=False, sep='$', encoding='cp1251')
mngmnt.to_csv('mngmnt.csv', index=False, sep='$', encoding='cp1251')
horoscope.to_csv('horoscope.csv', index=False, sep='$', encoding='cp1251')

### Создание таблиц

Подключение

In [20]:
# подключение
conn = psycopg2.connect("dbname=Allada user=postgres password=5498130")

Создание таблиц

In [21]:
cur = conn.cursor()
cur.execute('''
    DROP TABLE IF EXISTS task;
    CREATE TABLE task (
        task_rk VARCHAR,
        task_stage_id VARCHAR,
        source_system_cd VARCHAR,
        create_dttm VARCHAR,
        finish_dttm VARCHAR
    );

    DROP TABLE IF EXISTS call;
    CREATE TABLE call (
        wo_hit_rk VARCHAR,
        wo_task_rk VARCHAR,
        wo_queue_id VARCHAR,
        agent_login VARCHAR,
        wo_employee_rk VARCHAR,
        finish_dttm VARCHAR,
        duration_sec VARCHAR
    );

    DROP TABLE IF EXISTS action;
    CREATE TABLE action(
        hit_rk VARCHAR,
        hit_status_result_id VARCHAR
    );

    DROP TABLE IF EXISTS product;
    CREATE TABLE product (
        hit_rk VARCHAR,
        hid VARCHAR,
        using_flg VARCHAR
    );

    DROP TABLE IF EXISTS emp_x_org_gr;
    CREATE TABLE emp_x_org_gr (
        employee_rk VARCHAR,
        org_group_rk VARCHAR
    );

    DROP TABLE IF EXISTS result;
    CREATE TABLE result  (
        hit_status_result_id VARCHAR,
        hit_status_result_desc VARCHAR
    );

    DROP TABLE IF EXISTS queue;
    CREATE TABLE queue (
        queue_id VARCHAR,
        queue_desc VARCHAR
    );

    DROP TABLE IF EXISTS "group";
    CREATE TABLE "group" (
        org_group_rk VARCHAR,
        org_management_rk VARCHAR,
        group_nm VARCHAR
    );

    DROP TABLE IF EXISTS mngmnt;
    CREATE TABLE mngmnt (
        org_management_rk VARCHAR,
        management_nm VARCHAR
    );


    DROP TABLE IF EXISTS horoscope;
    CREATE TABLE horoscope (
        agent_login VARCHAR,
        horoscope VARCHAR
    );
''')
conn.commit()

Загрузка данных в таблицы

In [22]:
files = {
    'task': 'task.csv',
    'call': 'call.csv',
    'action': 'action.csv',
    'product': 'product.csv',
    'emp_x_org_gr': 'emp_x_org_gr.csv',
    'result': 'result.csv',
    'queue': 'queue.csv',
    'group': 'group.csv',
    'mngmnt': 'mngmnt.csv',
    'horoscope': 'horoscope.csv'
}

for table, file_path in files.items():
    with open(file_path, 'r') as f:
        next(f)  # Пропустить заголовок
        cur.copy_from(f, table, sep='$')    

# commit изменений и закрытие курсора
conn.commit()
cur.close()

функция получения курсора

In [23]:
# если вызвать с параметром 0 то придет список картежей
# если ниче не писать то датафрейм
def select(cunn, sql, df=1):
    cur = conn.cursor()  # получение курсора
    cur.execute(sql)
    res = cur.fetchall()
    if df == 1:
        columns = [desc[0] for desc in cur.description]
        res = pd.DataFrame(res, columns=columns)
    cur.close() # закрытие курсора
    conn.commit()
    return res

Проверяем

In [24]:
sql = '''select * from result limit 3'''

In [25]:
select(conn, sql)

  hit_status_result_id                  hit_status_result_desc
0                    8  Дозвон, Некорректное задание по звонку
1                    1                           Дозвон, Отказ
2                    6                        Дозвон, Отложить

### Запрос влючающий в себя все поля всех витрин

In [26]:
sql = '''
SELECT *
FROM call
LEFT JOIN task ON call.wo_task_rk = task.task_rk
LEFT JOIN action ON call.wo_hit_rk = action.hit_rk
LEFT JOIN product ON call.wo_hit_rk = product.hit_rk
LEFT JOIN emp_x_org_gr ON call.wo_employee_rk = emp_x_org_gr.employee_rk
LEFT JOIN result ON action.hit_status_result_id = result.hit_status_result_id
LEFT JOIN queue ON call.wo_queue_id = queue.queue_id
LEFT JOIN "group" AS g ON emp_x_org_gr.org_group_rk = g.org_group_rk
LEFT JOIN mngmnt ON g.org_management_rk = mngmnt.org_management_rk
LEFT JOIN horoscope ON call.agent_login = horoscope.agent_login
'''

Запишем данныев датафрейм

In [27]:
big_df = select(conn, sql)

In [28]:
# закрываем соединение
conn.close()

In [29]:
big_df.head(3)

,wo_hit_rk,wo_task_rk,wo_queue_id,agent_login,wo_employee_rk,finish_dttm,duration_sec,task_rk,task_stage_id,source_system_cd,...,hit_status_result_desc,queue_id,queue_desc,org_group_rk,org_management_rk,group_nm,org_management_rk,management_nm,agent_login,horoscope
0,10001402,95516722,14642,alovmmma,44341014,2022-08-15 15:52:33,160.63,95516722,1.0,GI,...,"Дозвон, Перезвонить",14642,Очередь 50,378,415,Группа 41,415,Управление КЦ Парис,alovmmma,Водолей
1,10002397,5589411,4081,6446kmmi,95651109,2022-08-15 10:29:33,0.0,5589411,1.0,GI,...,Недозвон,4081,Очередь 78,3240,1621,Группа 36,1621,Управление КЦ Чизан,6446kmmi,Овен
2,10002617,98250515,14644,zovaiaoz,14809914,2022-08-15 16:19:44,0.0,98250515,1.0,GI,...,Недозвон,14644,Очередь 119,2531,1720,Группа 3,1720,Управление КЦ Кирис,zovaiaoz,Лев

## Задание 2

Необходимо посчитать следующие значения:
1.	Общее количество звонков со статусом «Дозвон, Успешно»
2.	Продажная конверсия. Ответ округлить до двух знаков после запятой.
   <br> a.	Продажная конверсия, % = Звонки со статусов «Дозвон, Успешно»/(Звонки со статусом «Дозвон, Успешно» + «Дозвон, Отказ)
3.	Средняя длительность одной коммуникации, закрытой статусом «Дозвон, Успешно». Ответ предоставить в секундах, округлить до двух знаков после запятой.

### Общее количество звонков со статусом «Дозвон, Успешно»

In [30]:
total_sum = len(big_df[big_df['hit_status_result_desc'] == 'Дозвон, Успешно'])

print(f"Общее количество звонков со статусом 'Дозвон, Успешно': {total_sum}")

Общее количество звонков со статусом 'Дозвон, Успешно': 3310

### Продажная конверсия

Расчет конверсии предпологается по формуле:
 $$ Конверсия = \frac{N_{Дозвон, Успешно}}{N_{Дозвон, Успешно} + N_{Дозвон, Отказ}}$$

In [31]:
call_fail = len(big_df[big_df['hit_status_result_desc'] == 'Дозвон, Отказ'])
print(f"Общее количество звонков со статусом 'Дозвон, Отказ': {call_fail}")

Общее количество звонков со статусом 'Дозвон, Отказ': 18459

<b>Итого:</b>

$$
N_{Дозвон, Успешно} = 3310
$$

$$
N_{Дозвон, Отказ} = 18459
$$

In [32]:
round(total_sum, 2)

3310

In [33]:
round(total_sum/(total_sum + call_fail), 2)

0.15

$$ 
Конверсия = 0,15
$$

### Средняя длительность одной коммуникации, закрытой статусом «Дозвон, Успешно»

In [34]:
big_df[['duration_sec']].dtypes

duration_sec    object
dtype: object

Необходимо поменять тип данных поля 'duration_sec' с object на float

In [35]:
big_df['duration_sec'] = big_df['duration_sec'].astype(float)

In [36]:
big_df[['duration_sec']].dtypes

duration_sec    float64
dtype: object

In [37]:
mean_duration = big_df[big_df['hit_status_result_desc'] == 'Дозвон, Успешно']['duration_sec'].mean()
print("Средняя длительность коммуникации закрытой статусом «Дозвон, Успешно»:", round(mean_duration, 2), "секунд")

Средняя длительность коммуникации закрытой статусом «Дозвон, Успешно»: 110.18 секунд

## Анализ  базы данных

Для этого задания необходимо выгрузить данные предворительно убрав лишние поля

In [38]:
big_df.head(3)

,wo_hit_rk,wo_task_rk,wo_queue_id,agent_login,wo_employee_rk,finish_dttm,duration_sec,task_rk,task_stage_id,source_system_cd,...,hit_status_result_desc,queue_id,queue_desc,org_group_rk,org_management_rk,group_nm,org_management_rk,management_nm,agent_login,horoscope
0,10001402,95516722,14642,alovmmma,44341014,2022-08-15 15:52:33,160.63,95516722,1.0,GI,...,"Дозвон, Перезвонить",14642,Очередь 50,378,415,Группа 41,415,Управление КЦ Парис,alovmmma,Водолей
1,10002397,5589411,4081,6446kmmi,95651109,2022-08-15 10:29:33,0.00,5589411,1.0,GI,...,Недозвон,4081,Очередь 78,3240,1621,Группа 36,1621,Управление КЦ Чизан,6446kmmi,Овен
2,10002617,98250515,14644,zovaiaoz,14809914,2022-08-15 16:19:44,0.00,98250515,1.0,GI,...,Недозвон,14644,Очередь 119,2531,1720,Группа 3,1720,Управление КЦ Кирис,zovaiaoz,Лев

In [39]:
big_df.columns

Index(['wo_hit_rk', 'wo_task_rk', 'wo_queue_id', 'agent_login',
       'wo_employee_rk', 'finish_dttm', 'duration_sec', 'task_rk',
       'task_stage_id', 'source_system_cd', 'create_dttm', 'finish_dttm',
       'hit_rk', 'hit_status_result_id', 'hit_rk', 'hid', 'using_flg',
       'employee_rk', 'org_group_rk', 'hit_status_result_id',
       'hit_status_result_desc', 'queue_id', 'queue_desc', 'org_group_rk',
       'org_management_rk', 'group_nm', 'org_management_rk', 'management_nm',
       'agent_login', 'horoscope'],
      dtype='object')

In [40]:
new_df = big_df.copy()

In [41]:
new_df = new_df.drop(['task_rk', 
                      'task_stage_id',
                      'wo_hit_rk',
                      'wo_task_rk',
                      'wo_queue_id',
                      'wo_employee_rk',
                      'hit_rk',
                      'hit_status_result_id',
                      'employee_rk', 
                      'org_group_rk',
                      'queue_id',
                      'org_management_rk'], axis=1)

In [42]:
new_df.columns

Index(['agent_login', 'finish_dttm', 'duration_sec', 'source_system_cd',
       'create_dttm', 'finish_dttm', 'hid', 'using_flg',
       'hit_status_result_desc', 'queue_desc', 'group_nm', 'management_nm',
       'agent_login', 'horoscope'],
      dtype='object')

In [43]:
new_df.shape[1]

14

In [75]:
df_1 = new_df.copy()

In [80]:
df_1['agent_login'].astype(str)

      agent_login agent_login
0        alovmmma    alovmmma
1        6446kmmi    6446kmmi
2        zovaiaoz    zovaiaoz
3        7787nyua    7787nyua
4        kovadsku    kovadsku
...           ...         ...
89169    5037rbuz    5037rbuz
89170    1116ovyu    1116ovyu
89171    kovalaby    kovalaby
89172    ryanigxa    ryanigxa
89173    7754kvmi    7754kvmi

[89174 rows x 2 columns]

In [81]:
df_1.dtypes

agent_login                object
finish_dttm                object
duration_sec              float64
source_system_cd           object
create_dttm                object
finish_dttm                object
hid                        object
using_flg                  object
hit_status_result_desc     object
queue_desc                 object
group_nm                   object
management_nm              object
agent_login                object
horoscope                  object
dtype: object

In [92]:
call.dtypes

wo_hit_rk           int64
wo_task_rk          int64
wo_queue_id         int64
agent_login        object
wo_employee_rk      int64
finish_dttm        object
duratoin_sec      float64
dtype: object

In [ ]:
call['agent_login'].

In [93]:
call['agent_login'].unique().shape[0]

1962

In [69]:
df_1.head(2)

  agent_login agent_login
0    alovmmma    alovmmma
1    6446kmmi    6446kmmi

In [64]:
new_df.dtypes

agent_login                object
finish_dttm                object
duration_sec              float64
source_system_cd           object
create_dttm                object
finish_dttm                object
hid                        object
using_flg                  object
hit_status_result_desc     object
queue_desc                 object
group_nm                   object
management_nm              object
agent_login                object
horoscope                  object
dtype: object

In [58]:
new_df.head(2)

,agent_login,finish_dttm,duration_sec,source_system_cd,create_dttm,finish_dttm,hid,using_flg,hit_status_result_desc,queue_desc,group_nm,management_nm,agent_login,horoscope
0,alovmmma,2022-08-15 15:52:33,160.63,GI,2022-08-03 03:44:01,2022-10-04 00:02:24,4,,"Дозвон, Перезвонить",Очередь 50,Группа 41,Управление КЦ Парис,alovmmma,Водолей
1,6446kmmi,2022-08-15 10:29:33,0.00,GI,2022-08-14 14:00:51,2022-08-15 13:32:10,1,,Недозвон,Очередь 78,Группа 36,Управление КЦ Чизан,6446kmmi,Овен

In [94]:

# Предположим, что ваша переменная называется df
if isinstance(new_df, pd.DataFrame):
    print("Это DataFrame")
else:
    print("Это не DataFrame")

Это DataFrame

# 1111

In [47]:
new_df.to_csv('new_df_s.csv', index=False, sep='$', encoding='cp1251')

In [48]:
%time
writer = pd.ExcelWriter('new_df.xlsx')
new_df.to_excel(writer, sheet_name='Sheet1', index=False)
writer.save()

CPU times: total: 0 ns
Wall time: 0 ns

In [50]:
df_sv =pd.read_csv('new_df_s.csv', sep='$')

In [52]:
df_ex = pd.read_excel('new_df.xlsx')

In [53]:
df_sv.head(3)

,agent_login,finish_dttm,duration_sec,source_system_cd,create_dttm,finish_dttm.1,hid,using_flg,hit_status_result_desc,queue_desc,group_nm,management_nm,agent_login.1,horoscope
0,alovmmma,2022-08-15 15:52:33,160.63,GI,2022-08-03 03:44:01,2022-10-04 00:02:24,4,NaN,"������, �����������",������� 50,������ 41,���������� �� �����,alovmmma,�������
1,6446kmmi,2022-08-15 10:29:33,0.00,GI,2022-08-14 14:00:51,2022-08-15 13:32:10,1,NaN,��������,������� 78,������ 36,���������� �� �����,6446kmmi,����
2,zovaiaoz,2022-08-15 16:19:44,0.00,GI,2022-08-06 03:14:48,2022-08-15 16:19:49,4,NaN,��������,������� 119,������ 3,���������� �� �����,zovaiaoz,���

In [54]:
df_ex.head(3)

,agent_login,finish_dttm,duration_sec,source_system_cd,create_dttm,finish_dttm.1,hid,using_flg,hit_status_result_desc,queue_desc,group_nm,management_nm,agent_login.1,horoscope
0,alovmmma,2022-08-15 15:52:33,160.63,GI,2022-08-03 03:44:01,2022-10-04 00:02:24,4,NaN,"Дозвон, Перезвонить",Очередь 50,Группа 41,Управление КЦ Парис,alovmmma,Водолей
1,6446kmmi,2022-08-15 10:29:33,0.00,GI,2022-08-14 14:00:51,2022-08-15 13:32:10,1,NaN,Недозвон,Очередь 78,Группа 36,Управление КЦ Чизан,6446kmmi,Овен
2,zovaiaoz,2022-08-15 16:19:44,0.00,GI,2022-08-06 03:14:48,2022-08-15 16:19:49,4,NaN,Недозвон,Очередь 119,Группа 3,Управление КЦ Кирис,zovaiaoz,Лев

In [99]:
df_1['agent_login'].shape[0]

89174

In [111]:
call['agent_login'].unique()

array(['lyangama', 'enkoiion', 'kinalapo', ..., '6708eaki', '6950maso',
       '2949gada'], dtype=object)

In [107]:
df_1 =pd.read_csv('new_df_s.csv', sep='$')

In [115]:
del new_df

In [47]:
new_df =pd.read_csv('new_df_s.csv', sep='$')

In [55]:
df_ex['agent_login'].unique()

array(['alovmmma', '6446kmmi', 'zovaiaoz', ..., 'syanatki', 'novaaiba',
       'uevakabi'], dtype=object)

In [109]:
df_1['agent_login'].unique()

array(['alovmmma', '6446kmmi', 'zovaiaoz', ..., 'syanatki', 'novaaiba',
       'uevakabi'], dtype=object)

In [114]:
pd.unique(df_1['agent_login'])

array(['alovmmma', '6446kmmi', 'zovaiaoz', ..., 'syanatki', 'novaaiba',
       'uevakabi'], dtype=object)

In [43]:
# new_df['using_flg'].unique()

In [48]:
big_df.to_csv('big_df_s.csv', index=False, sep='$', encoding='cp1251')

In [49]:
big_df.to_csv('big_df_t.csv', index=False, sep='t', encoding='cp1251')

In [50]:
%%time
writer = pd.ExcelWriter('big_df.xlsx')
big_df.to_excel(writer, sheet_name='Sheet1', index=False)
writer.save()

CPU times: total: 2min 15s
Wall time: 2min 15s

In [51]:
%%time
writer = pd.ExcelWriter('new_df.xlsx')
new_df.to_excel(writer, sheet_name='Sheet1', index=False)
writer.save()

CPU times: total: 1min 1s
Wall time: 1min 1s

In [54]:
new_df.dtypes

agent_login                object
finish_dttm                object
duration_sec              float64
source_system_cd           object
create_dttm                object
finish_dttm                object
hid                        object
using_flg                  object
hit_status_result_desc     object
queue_desc                 object
group_nm                   object
management_nm              object
agent_login                object
horoscope                  object
dtype: object

In [56]:
df_1 = df_ex.head(100).copy()

In [58]:
df_1.head(3)

,agent_login,finish_dttm,duration_sec,source_system_cd,create_dttm,finish_dttm.1,hid,using_flg,hit_status_result_desc,queue_desc,group_nm,management_nm,agent_login.1,horoscope
0,alovmmma,2022-08-15 15:52:33,160.63,GI,2022-08-03 03:44:01,2022-10-04 00:02:24,4,NaN,"Дозвон, Перезвонить",Очередь 50,Группа 41,Управление КЦ Парис,alovmmma,Водолей
1,6446kmmi,2022-08-15 10:29:33,0.00,GI,2022-08-14 14:00:51,2022-08-15 13:32:10,1,NaN,Недозвон,Очередь 78,Группа 36,Управление КЦ Чизан,6446kmmi,Овен
2,zovaiaoz,2022-08-15 16:19:44,0.00,GI,2022-08-06 03:14:48,2022-08-15 16:19:49,4,NaN,Недозвон,Очередь 119,Группа 3,Управление КЦ Кирис,zovaiaoz,Лев

In [59]:
profile = ProfileReport(big_df, title="df_1")

In [ ]:
%%time
profile.to_file(output_file="df_1.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [ ]:
profile.to_notebook_iframe()

In [ ]:
**сылка на отчет на случай если во фрейме не откроется** https://disk.yandex.ru/d/wbSLSHKoLnSEGw